<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p class="white" > Loading... </p></ngx-spinner>
<mat-toolbar color="primary">
    <mat-toolbar-row class="justify-content-center">
        LAPD Crime Data Analysis
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    
    <app-la-hate-crime></app-la-hate-crime>
   
    <app-la-lapd-crime></app-la-lapd-crime>
    
    <app-la-race-distribution></app-la-race-distribution>
</div>
