<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p class="white" > Loading... </p></ngx-spinner>
<mat-toolbar color="primary">
    <mat-toolbar-row class="justify-content-center">
        LAPD Crime Data Analysis
    </mat-toolbar-row>
</mat-toolbar>

<h2>LA Hate Crime Statistics</h2>
<mat-form-field class="m-3">
    <mat-label>Choose race</mat-label>
    <mat-select [(value)]="raceChosen" (selectionChange)="setHateCrimeBarChartData()">
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let race of raceChoices"  value="{{race}}">{{race}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="m-3">
    <mat-label>Choose Crime Location</mat-label>
    <mat-select [(value)]="locationType" (selectionChange)="setHateCrimeBarChartData()">
        <mat-option value="All">All</mat-option>
        <mat-option value="0">Public</mat-option>
        <mat-option value="1">Private</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="m-3">
    <mat-label>Choose Bias Motivation</mat-label>
    <mat-select [(value)]="biasMotivation" (selectionChange)="setHateCrimeBarChartData()">
        <mat-option value="All">All</mat-option>
        <mat-option *ngFor="let bias of biasMotivationChoices"  value="{{bias}}">{{bias}}</mat-option>
    </mat-select>
</mat-form-field>

<!-- <div *ngIf="showGraph"> -->
    <canvas baseChart style="width: 1000px;"
        [data]="hateCrimeBarChartData"
        [options]="hateCrimeBarChartOptions"
        [plugins]="hateCrimeBarChartPlugins"
        [legend]="hateCrimeBarChartLegend"
        [type]="'bar'">
    </canvas>
<!-- </div> -->

<h3>Which area in Los Angeles are you going to live in? </h3>

<mat-form-field class="m-3">
    <mat-label>Choose Area</mat-label>
    <mat-select [(value)]="lapdMainArea" (selectionChange)="setLAPDMainBarChartData()">
        <mat-option *ngFor="let area of lapdMainAreaList"  value="{{area}}">{{area}}</mat-option>
    </mat-select>
</mat-form-field>

<canvas baseChart style="width: 1800px; height: 1000px"
        [data]="lapdMainBarChartData"
        [options]="lapdMainBarChartOptions"
        [plugins]="lapdMainBarChartPlugins"
        [legend]="lapdMainBarChartLegend"
        [type]="'bar'">
</canvas>

<div style="display: block; width: 600px; height: 600px;">
  <canvas 
  baseChart
  [data]="pieChartData"
  [type]="pieChartType"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
>
</canvas>
</div>
