<div class="d-flex">
    <div class="w-50">
        <h3>Los Angeles Race Distribution</h3>
        <canvas 
        baseChart
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        >
        </canvas>
    </div>
    <div class="w-50">
        <canvas 
        baseChart
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        >
        </canvas>
    </div>
</div>